<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaron.mmchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.aaron.mmchat.MMChatApplication"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name=".home.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.ChooseAccountTypeActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name="de.duenndns.ssl.MemorizingActivity" />

        <provider
            android:name=".core.provider.ChatHistoryProvider"
            android:authorities="com.aaron.mmchat.core.provider.ChatHistory" />
        
        <service 
            android:name=".service.MMChatService"/>
        <receiver 
            android:name=".BootCompleteReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>